.actorThumbnail {

    max-height: 10%;
    max-width:90%;
    margin: auto auto;
    display: flex;
    border-bottom: solid;
    border-bottom-color: darkgrey;

}

.genre-display {
    color:white;
}

.actor-box {
    text-decoration:  none;
    color: inherit;
}

.imageThumbnail {


    margin: 0 0 2% 0;
    width: 100%;
    max-width: 8em;
    height: 100%;
    max-height: 14em;

}
.descriptionThumbnail {
    margin: 1% 0 0 4%;
    max-width: 70%;
}

.shortBio {
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    font-size: 100%;
    color:white;
}

.genreActorThumbnail {
    font-size: 100%;
}




@media screen and (min-width: 640px) {
    .shortBio{
        font-size: 150%;
    }
    .genreActorThumbnail {
        font-size: 170%;
    }
    .thumbnailNomArtist {
        font-size: 170%;
    }
    .imageThumbnail{
        height: 25%;
        width: auto;
        max-width: 200px;
        max-height: 200px;
    }
}


@media screen and (min-width: 960px) {

    .actorThumbnail {

    }

    .imageThumbnail{
        max-width: 600px;
        height: auto;
        max-height: 200px;
    }

    .thumbnailNomArtist {
        font-size: 100%;
    }

    .shortBio {

        font-size: 100%;
    }

    .genreActorThumbnail {
        font-size: 100%;
    }
}
