/* POUR LE MOBILE*/


.actor {
    max-width: 100%;
    width: 100%;
}

.actor-itunes {
    overflow: auto;
    width: 100%;
    height: auto;
    position: relative;
}

.imgActor {
    max-width: 50%;
    height: auto;
    float: left;
    margin: 2.5%;

}
.itunes{
    max-width: 40%;
    margin: 2.5%;
    position: absolute;
    top: 0;
    right: 0;
}

.ilogo {
    max-width: 50%;
    margin: 25% 25% 10% 25%;

}
#centre{
    text-align: center;
    margin-top: 0;
}

.description {
    width: 100%;
}

.movie-list {
    max-width: 100%;
}
.information {
    overflow: auto;
}

/*CSS du texte*/
#genre{
    font-size: 140%;
    font-weight: bold;
}
#text{
    font-size: 120%;
}
#header{
    font-size: 200%;
}

/*Pour la tablette*/
@media screen and (min-width: 640px){


    .description {
        float: right;
        width: 65%;

    }
    .actor-itunes {
        float: left;
        width: 30%;
    }
    .imgActor{
        float: none;
        max-width: 100%;
        margin: 0;
    }
    .itunes{
        max-width: 100%;
        position: relative;
    }
    .ilogo{
        margin: 5% 25% 5% 25%;
    }
    #text{
        font-size: 150%;
    }
    #genre{
        font-size: 170%;
        font-weight: bold;
    }
    #header{
        font-size: 300%;
    }
}
@media screen and (min-width: 960px){
    #header{
        font-size: 200%;
    }
    #text{
        font-size: 100%;
    }
    #genre{
        font-size: 130%;
        font-weight: bold;
    }
}

/* phone = 640px, Tablet = 960px */