.actorThumbnail {

    max-height: 10%;
    margin: 2%  5% ;
    display: flex;
    border-bottom: solid;
    border-bottom-color: darkgrey;

}
.actor-box {
    text-decoration:  none;
    color: inherit;
}

.imageThumbnail {


    margin: 0 0 2% 0;
    width: 25%;
    height: 50%;

}
.descriptionThumbnail {
    margin: 1% 0 0 5%;
}

.shortBio {
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    position: relative;
    font-size: 100%;
}

.genreActorThumbnail {
    font-size: 100%;
}


@media screen and (min-width: 640px) {
    .shortBio{
        font-size: 150%;
    }
    .genreActorThumbnail {
        font-size: 170%;
    }
    .thumbnailNomArtist {
        font-size: 170%;
    }
    .imageThumbnail{
        height:50%;
        width: auto;
    }
}


@media screen and (min-width: 960px) {

    .actorThumbnail {


    }
    .thumbnailNomArtist {
        font-size: 100%;
    }

    .imageThumbnail {


    }
    .descriptionThumbnail {
    }

    .shortBio {

        font-size: 100%;
    }

    .genreActorThumbnail {
        font-size: 100%;
    }
}
