.episode-thumbnail-box {
    font-family: "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #282A2F;
    transition: opacity ease-in-out .55s;
    border: 3px solid #1B1D22;
    border-bottom: none;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.episode-initial-release-date {
    color: #97999F;
    font-size: 90%;
}

.episode-thumbnail-box:hover {
    opacity: 0.8;
}

.episode-thumbnail-box:last-of-type {
    border-bottom: 3px solid #1B1D22;
}

.episode-thumbnail {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.episode-initial-image {
    opacity: 0.9;
    margin: 0;
    padding: 0;
    align-items: stretch;
    flex: 1 1 auto;
    height: 100%;
    background-size: 0;
}

.episode-thumbnail {
    align-items: stretch;
    height: 100%;
    width: 6em;
}

.episode-top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
    min-width: 0;
    flex: 1 1 auto;
    background-size: 0;
}

.episode-title {
    font-size: 95%;
    color: #0085FF;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.episode-description-text {
    font-size: 90%;
    color: #B2B5BB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.episode-footer {
    display: flex;
    justify-content: space-between;
}

.episode-footer .content-advisory-rating, .episode-footer .duration {
    color: #97999F;
}

.ellipsis {
    display: none;
}

@media screen and (min-width: 640px) {

    .episode-box{
        background-color: #171717;
        align-items: center;
    }

    .thumbnail {
        min-height: 0em;
        width: 100%;
        margin-left: 0;
        max-width: none;
    }

    .episode-top-box{
        flex: 1 1 100%;
    }

    .episode-footer {
        color: #BFC2CC;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 970px) {

    .episode-box{
        background-color: #222121;
        overflow: hidden;
        display: flex;
    }

    .episode-box:nth-child(even) {
        background-color: #505154;
    }

}