html{
    font-family: "Helvetica Neue";
}


@media screen and (min-width: 768px) {


}

@media screen and (min-width: 980px) {

    .thumbnail {
        cursor: pointer;
    }

    .close-button {
        margin-bottom: -1em;
        width: 30px;
        height: 30px;
        background-color: red;
        position:relative;
        float:right;
    }

    .episode-modal-title {
        font-size: 1.8em;
        margin-top: 1em;
        margin: 0.5em .5em 0 .5em;
        border-bottom: solid 1px white;
    }

    .episode-modal-season {
        margin: .3em 1em 0 1em;
        font-size: 0.9em;
    }

    .Episode-modal {
        font-size: 1em;
        color: darkgrey;
        /* display: none; */ /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        margin: 5% 10%;
        left: 0;
        top: 0;
        width: 85%; /* Full width */
        height: 85%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #3A3737; /* Fallback color */
        /* background-color: rgba(0,0,0,0.9); */ /* Black w/ opacity */
    }

    .episode-modal-cover img {
        width: 80%;
    }

    .episode-modal-content {
        margin-top: 3em;
        font-size: .7em;
    }

    .episode-modal-info span {
        display: block;

    }

    .episode-modal-content-left {
        margin-left: 1.5em;
        width: 30%;
    }

    .episode-modal-info {
        width: 80%;
    }

    .episode-modal-info span {
        font-size: .5em;
    }

    .episode-modal-content-right {
        width: 70%;
    }

    .episode-modal-content {
        display: flex;
    }

    .episode-modal-preview {
        width: 100%;
    }

    iframe {
        width: 95%;
        height: 400px;
    }

}