.search-genre {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.component-genre {
    flex-basis: 10em;
    margin: 0.2em 0;
}

.filter-selected {
    background-color: #59a9f9;
}