.movies-box {
    font-family: "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #282A2F;
    transition: opacity ease-in-out .55s;
    border: 3px solid #1B1D22;
    border-bottom: none;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.initial-release-date {
    color: #97999F;
    font-size: 90%;
}

.movies-box:last-of-type {
    border-bottom: 3px solid #1B1D22;
}

.thumbnail {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-size: 0;
}

.movies-initial-image {
    opacity: 1;
    margin: 0;
    padding: 0;
    align-items: stretch;
    height: 100%;
}

.movies-thumbnail {
    align-items: center;
    height: 100%;
}

.movies-top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
    min-width: 0;
    flex: 1 1 auto;
    background-size: 0;
}

.movies-title {
    font-size: 95%;
    color: #0085FF;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies-description-text {
    font-size: 90%;
    color: #B2B5BB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies-header {
    color: #B2B5BB;
}

.movies-footer {
    color: #97999F;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}

.movie-watchlist-add, .movie-watchlist-remove, .movie-watchlist-control {
    display: none;
}

.special-movie.movie-watchlist-add, .special-movie.movie-watchlist-remove {
    display:inline-flex;
}

.special-movie.movie-watchlist-control {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

@media screen and (min-width: 640px) {

    /*}

    @media screen and (min-width: 970px) {*/
    .movies-box:last-of-type {
        border-bottom: none;
    }

    .movies-initial-image {
        display: none;
    }

    .thumbnail, .movies-thumbnail, .movies-box, .movies-top-box {
        color: black;
        min-width: 0; /*!* for Firefox and future Chrome etc. *!*/
        width: 100%;
        max-width: 10em;
        height: 100%;
        min-height: 10em;
        max-height: 14.92em;
    }

    .special-movie.movies-top-box {
        min-height: 14.92em;
    }

    .movies-box {
        background-color: transparent;
        border: none;
        flex-wrap: nowrap;
        display: inline-flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: space-around;
    }

    .movies-header, .movies-description, .movies-footer {
        color: black;
        flex: 1;
        height: 100%;
    }

    .movies-top-box:hover > div {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.80);
    }

    .movies-top-box > div {
        opacity: 0;

        -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    }

    .movies-top-box {
        align-content: space-between;
        align-items: stretch;
        background-size: cover;
        padding-left: 0;
    }

    .movies-header {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        font-size: 0.6em;
        padding: 0.3em 0.3em 0 0.3em;
    }

    .movies-title {
        flex-grow: 3;
        font-size: 1.15em;
        white-space: normal;
        color: #2469bb;
    }

    .movies-initial-release-date {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.3em;
    }

    .movies-description {
        display: flex;
        width: 100%;
        flex-grow: 5;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
    }

    .movies-description-text {
        white-space: normal;
        font-size: 0.6em;
        min-height: 0.1em;
        max-height: 7em;
        color: black;
        padding: 0 0.3em 0 0.3em;
    }

    .movies-footer {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0.3em 0 0.3em;
    }

    .content-advisory-rating, .duration {
        font-size: 0.7em;
        color: black;
    }

    .ellipsis {
        padding: 0 0.3em 0 0.3em;
        font-size: 0.6em;
        margin-top: -1em;
        margin-bottom: 1em;
        color: black;
    }
}