.movies-box {
    font-family: "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #282A2F;
    transition: opacity ease-in-out .55s;
    border: 3px solid #1B1D22;
    border-bottom: none;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.initial-release-date {
    color: #97999F;
    font-size: 90%;
}

.movies-box:last-of-type {
    border-bottom: 3px solid #1B1D22;
}

.thumbnail {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.movies-initial-image {
    opacity: 1;
    margin: 0;
    padding: 0;
    align-items: stretch;
    flex: 1 1 auto;
    height: 100%;
}

.movies-thumbnail {
    align-items: center;
    height: 100%;
}

.movies-top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
    min-width: 0;
    flex: 1 1 auto;
}

.movies-title {
    font-size: 95%;
    color: #634ED5;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies-description-text {
    font-size: 90%;
    color: #B2B5BB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movies-footer {
    color: #97999F;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 970px) {

    .movies-box:last-of-type {
        border-bottom: none;
    }

    .thumbnail, .initial-image, .movies-thumbnail, .movies-box {
        min-width: 0; /*!* for Firefox and future Chrome etc. *!*/
        width: 100%;
        max-width: 10em;
        height: 100%;
        max-height: 20em;
    }

    .movies-box {
        background-color: transparent;
        border: none;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-flow: column;
        justify-content: space-around;
    }

    .movies-top-box {
        align-content: space-between;
        align-items: stretch;
        padding-left: 0;
        height: 100%;
        max-height: 20em;
        flex-basis: auto
    }

    .movies-header, .movies-description, .movies-footer {
        flex: 1;
        height: 100%;
    }

    .movies-header {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        font-size: 0.6em;
    }

    .movies-title {
        flex-grow: 3;
        font-size: inherit;
        white-space: normal;
    }

    .movies-initial-release-date {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2em;
    }

    .movies-description {
        display: flex;
        flex-grow: 2;
        width: 100%;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
    }

    .movies-description-text {
        white-space: normal;
        font-size: 0.6em;
        min-height: 0.1em;
        max-height: 7em;
    }

    .movies-footer {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
    }


    .content-advisory-rating {

    }

    .duration {

    }
    .content-advisory-rating, .duration {
        font-size: 0.6em;

    }

    .ellipsis {
        font-size: 0.6em;
        margin-top: -1em;
        color: #B2B5BB;
    }
}