@media (max-width: 600px) {
    .umovie-logo {
        z-index: 10000;
    }

    .navigation-options {
        z-index: 100;
    }

    .member-menu {
        z-index: 1000;
        height: 30%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .search-input {
        top: -3px;
    }
}

.search-container {
    align-self: flex-start;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-scope-icons{
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
}

.scope-icon{
    width: 1.25em;
    height: 1.25em;
    align-self: center;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    border: 0.2em solid;
    border-radius: 0.2em;
    cursor: pointer;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}

.scope-selected {
    border: 0.2em solid rgba(255,122,0, 1);
    border-radius: 0.2em;
    background: #ff7a00;
}


.member-hamburger {
    display: block;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 0.8em;
    right: 0.5em;
    z-index: 10000;
    cursor: default;
}

#site-logo {
    width: 128px;
    padding-top: 0.5em;
}

.umovie-logo {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 90%, transparent);
    width: 100%;
    position: fixed;
    overflow: auto;
}

.umovie-logo-disconnect #site-logo {
    width: 7em;
    margin: 0em 0em 0em -3em;
    padding-top: 0em;
}

.umovie-logo-disconnect {
    display: flex;
}

.header {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: black;
}

#expend-menu-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px 25px 0;
    background: none;
    border-style: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 1em;
    left: 1em;
    background: none;
    border-style: none;
}

.hamburger img {
    width: 30px;
    height: 30px;
}

.username {
    color: white;
    font-family: "Helvetica Neue";
    cursor: pointer;
    font-size: 1.4em;
    align-self: center;
}

.member-hamburger img {
    background-color: transparent;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 1.5em;
    cursor: pointer;
}

#member-menu-open {
    right: 0;
    -webkit-animation: .35s memberSlideIn ease-in;
    -moz-animation: .35s memberSlideIn ease-in;
    -o-animation: .35s memberSlideIn ease-in;
    animation: .35s memberSlideIn ease-in;
}

@-webkit-keyframes memberSlideIn {
    from {
        right: -250px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@-moz-keyframes memberSlideIn {
    from {
        right: -250px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@-o-keyframes memberSlideIn {
    from {
        right: -250px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes memberSlideIn {
    from {
        right: -250px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

#member-menu-closed {
    right: -250px;
    -webkit-animation: .35s memberSlideOut ease-in;
    -moz-animation: .35s memberSlideOut ease-in;
    -o-animation: .35s memberSlideOut ease-in;
    animation: .35s memberSlideOut ease-in;
}

@-webkit-keyframes memberSlideOut {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: -250px;
        opacity: 0;
    }
}

@-moz-keyframes memberSlideOut {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: -250px;
        opacity: 0;
    }
}

@-o-keyframes memberSlideOut {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: -250px;
        opacity: 0;
    }
}

@keyframes memberSlideOut {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: -250px;
        opacity: 0;
    }
}

.member-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -250px;
    width: 250px;
    top: 5.5em;
}

.member-menu li {
    display: block;
    list-style: none;
    padding: 1em;
    background-color: #333333;
    border-top: solid #454545 1px;
    border-bottom: solid #151515 1px;
}

.member-menu li:hover {
    background-color: #181818;
}

.member-menu a {
    text-decoration: none;
    color: #96948A;
    display: block;
    -webkit-transition: color .55s ease;
    -moz-transition: color .55s ease;
    -ms-transition: color .55s ease;
    -o-transition: color .55s ease;
    transition: color .55s ease;
}

.menu {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation-options {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid #454545 1px;
    position: fixed;
    width: 250px;
    top: 5.49em;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333333;
}

.navigation-options li {
    padding: 1em;
    border-top: solid #454545 1px;
    border-bottom: solid #151515 1px;
    color: white;
}

.navigation-options li:hover {
    background-color: #181818;
}

.navigation-options a {
    padding: 1em;
    text-decoration: none;
    color: #96948A;
}

#menu-open {
    left: 0;
    -webkit-animation: .35s slideIn ease-in;
    -moz-animation: .35s slideIn ease-in;
    -o-animation: .35s slideIn ease-in;
    animation: .35s slideIn ease-in;
}

@-webkit-keyframes slideIn {
    from {
        left: -250px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-moz-keyframes slideIn {
    from {
        left: -250px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-o-keyframes slideIn {
    from {
        left: -250px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        left: -250px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

#menu-initial-closed {
    left: -250px;
    -webkit-animation: .00s slideOut ease-in;
    -moz-animation: .00s slideOut ease-in;
    -o-animation: .00s slideOut ease-in;
    animation: .00s slideOut ease-in;
}

#menu-closed {
    left: -250px;
    -webkit-animation: .35s slideOut ease-in;
    -moz-animation: .35s slideOut ease-in;
    -o-animation: .35s slideOut ease-in;
    animation: .35s slideOut ease-in;
}

@-webkit-keyframes slideOut {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -250px;
        opacity: 0;
    }
}

@-moz-keyframes slideOut {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -250px;
        opacity: 0;
    }
}

@-o-keyframes slideOut {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -250px;
        opacity: 0;
    }
}

#site-logo {
    margin: 0;
    margin-top: 0.03em;
    padding-left: 4em;
    width: 10em;
}

.search-bar {
    padding-top: 6em;
    padding-bottom: 1em;
    position: relative;
    white-space: nowrap;
}

.input-bar {
    outline: none;
}

.search-input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 8em;
    height: 0.4em;
    padding: 0.6em 1em 0.6em 1em;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 1em Arial;
    color: #239fed;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #45434A;
    -webkit-box-shadow: 0.08em 0.08em 0.16em 0.08em #239fed;
    box-shadow: 0.08em 0.08em 0.16em 0.08em #239fed;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}

.input-bar input.search-input:hover, .input-bar input.search-input:focus, .input-bar input.search-input:active {
    color: #239fed;
    background: #4f4d55;
}

.input-bar input.search-input::-webkit-input-placeholder {

    color: #65737e;
}

.input-bar input.search-input:-moz-placeholder {
    color: #65737e;
}

.input-bar input.search-input::-moz-placeholder {
    color: #65737e;
}

.input-bar input.search-input:-ms-input-placeholder {
    color: #65737e;
}

.input-bar input.search-input:hover, .input-bar input.search-input:focus, .input-bar input.search-input:active {
    outline: none;
    background: #ffffff;
}

.research-options {
    padding-top: 0.4em;
    padding-bottom: 1em;
    width: 100%;
    max-width: 9em;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#search-icon {
    width: 0.4em;
    height: 0.4em;
    position: relative;
    margin-right: auto;
    margin-left: -0.25em;
    top: -0.15em;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0.6em 0.6em 0.6em 0.6em;
    border: 1px solid #239fed;
    border-left-width: 0;
    -webkit-border-radius: 0.12em 0.12em 0.12em 0.12em;
    border-radius: 0.12em 0.12em 0.12em 0.12em;
    color: rgba(255, 255, 255, 0.9);
    font: normal 1em Arial;
    background: #239fed;
    -webkit-box-shadow: 0.08em 0.08em 0.16em 0.08em #239fed;
    box-shadow: 0.08em 0.08em 0.16em 0.08em #239fed;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}

#initialise-search {
    display: inline;
}

#search-icon:hover {
    border: 1px solid #30b9ff;
    background: #30b9ff;
    -webkit-box-shadow: 0.08em 0.08em 0.16em 0.08em #30b9ff;
    box-shadow: 0.08em 0.08em 0.16em 0.08em #30b9ff;
    cursor: pointer;
}

.go-research {
    background-image: url('../img/goSearchIcon.png');
    background-color: #2b303b;
    display: inline-flex;
    position: relative;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.umovie-logo-disconnect #site-logo {
    margin: 0 4em 0 4em;
}

/* -------  Pour tablettes et +  -------- */

@media (min-width: 641px) {

    /* ------ NAV-BAR  ----- */
    .navigation-bar {
        box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 1);
        box-sizing: border-box;
        padding: 0 3%;
        width: 100%;
        background-color: black;
        opacity: 0.88;
        display: inline-flex;
        position: fixed;
        top: 0;
        margin: 0;
        z-index: 1;
    }

    .input-bar{
        margin-left: 1em;
    }


    .navigation-bar-disconnect {
        background-color: transparent;
    }

    .umovie-logo-disconnect #site-logo {
        width: 16em;
        margin: 8em 4em 4em 23em;
        /* padding: 0em 0em 0em 0em; */
    }

    .member-hamburger {

        display: flex;
        align-self: flex-end;
        position: initial;
        flex-wrap: nowrap;
        z-index: auto;
        cursor: default;
    }

    .member-hamburger img {
        background-color: transparent;
        width: 2.5vw;
        height: 2.5vw;
        float: none;
        margin-right: 0;
        cursor: pointer;
    }

    .username {
        font-size: 1.6vw;
    }

    /* ------ Left side nav-bar ------ */
    .umovie-logo {
        background: none;
        position: relative;
        width: 20%;
    }

    #expend-menu-icon {
        display: none;
    }

    #site-logo {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15%;
        left: 0;
        background: transparent;
    }

    /* ------ Middle side nav-bar ------ */
    .navigation-options {
        overflow: hidden;
        position: initial;
        width: inherit;
        border: none;
        flex-direction: row;
        list-style: none;
        background-color: transparent;
    }

    .navigation-options li {
        padding: 1em 1em 0.5em 1em;
        top: 1em;
        float: left;
        color: white;
        border: none;
        display: -moz-groupbox;
        margin-top: 3%;
        -webkit-transition: color .55s ease;
        -moz-transition: color .55s ease;
        -ms-transition: color .55s ease;
        -o-transition: color .55s ease;
        transition: color .55s ease;

    }

    .navigation-options li:hover {
        background-color: transparent;
        -webkit-transition: color .55s ease;
        -moz-transition: color .55s ease;
        -ms-transition: color .55s ease;
        -o-transition: color .55s ease;
        transition: color .55s ease;

    }

    .navigation-options a {
        text-decoration: none;
        color: #96948B;
        -webkit-transition: color .55s ease;
        -moz-transition: color .55s ease;
        -ms-transition: color .55s ease;
        -o-transition: color .55s ease;
        transition: color .55s ease;
    }

    .navigation-options li a:hover {
        background-color: transparent;
        border: none;
        color: white;
        -webkit-transition: color .55s ease;
        -moz-transition: color .55s ease;
        -ms-transition: color .55s ease;
        -o-transition: color .55s ease;
        transition: color .55s ease;

    }

    /* ------ Right side nav-bar ------ */
    .search-bar {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 0 0;
        float: none;
        width: 35em;
    }

    .search-bar li a:hover {
        background-color: transparent;
        border: none;
        color: white;
    }

    .research-options {
        color: transparent;
    }

    .go-research {
        background: transparent;
    }
}

/* ------  Pour desktop exclusivement ------  */

@media (min-width: 960px) {

    .umovie-logo-disconnect #site-logo {
        width: 6.5em;
        margin: 4em 0em 0em 1em;
        padding-top: 1em;
    }

    .search-bar {

    }

    .member-menu {
        z-index: 1000;
        height: 900px;
    }

    .navigation-bar {
        opacity: 0.88;
    }

}

@media screen and (min-width: 1025px) {
    .umovie-logo-disconnect #site-logo {
        padding-top: 0em;
    }
}

