#site-logo {
    width: 128px;
    margin: -2.25em 0 0 0;
    left: 0px;
    background: transparent;

}

html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
}



div #content {
    max-width: 900px;
    margin: 40 auto;
    padding: 0px 2% 0;
    background-color: #222121;

}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.movieTitle {
    font-family: Ubuntu;
    font-weight: 400;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: black;
}


button {
    cursor: pointer;
}

#expend-menu-icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px 25px 0px;
    background: none;
    border-style: none;
}


.menu {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation-options {
    position: fixed;
    width: 250px;
    left: -250px;
    top: 3em;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #33333;
}

.navigation-options li {
    padding: 1em;
    display: block;
    color: white;
}

.menu .navigation-options li a:hover {
    color: white;
    font-style: bold;
    font-size: 20px;
}


.search-bar li a:hover {
    color: white;
    font-style: bold;
    font-size: 20px;
}

.search-bar {
    margin: 0 0 0 0;
    padding: 10px 0 0 0;
}
.search-bar > li {
    color: white;
    margin-top: 0px;
    padding: 2px 10%;
    display: block;
    float: right;
}

.search-bar > div {
    display: block;
    float: right;
}

.search-input {
    display: none;
    padding-right: 0;
    padding-left: 0;
    border-right: 0;
    border-left: 0;
}

.research-options{
    /*color: transparent;*/
}

.go-research {
    background-image: url("../img/SearchIcon.png");
    background-color: white;
    width: 18px;
    height: 17px;
    display: inline-flex;
    position: relative;
    top: 3px;
    left: -4px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    border-top: 2px inset ThreeDLightShadow;
    border-right: 2px inset ThreeDLightShadow;
    border-bottom: 2px inset ThreeDLightShadow;
}

.search-image {
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png");
    background-color: white;
    width: 17px;
    height: 16px;
    display: inline-flex;
    position: relative;
    top: 3px;
    left: 4px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 1px;

}

.navigation-options a {
    text-decoration: none;
    color: #96948B;
}

.search-bar a {
    text-decoration: none;
    color: #96948A;
}

#container #menu-content {
    height: 70px;
    position: relative;
}

#container #menu-content .navigation-bar {
    height: 70px;
    box-sizing: border-box;
    padding: 0px 4%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, transparent);

    position: fixed;
    top: 0px;
    margin: 0px;
    width: 100%;
    z-index: 100;

}

#container #content {
    background: black;
    position: relative;
    z-index: 0;
    margin-top: -70px;

}

.open {
    display: block;
    left: 0px;
}

.hamburger {
    display: none;
}

.cross {
    display: none;
}

.authentification{
    background: black;
}

.umovie-logo{
    margin-top: 15px;
}

@media (min-width: 700px) {
    #site-logo {

        width: 138px;
        margin: 0 0 0 0;
    }

    .navigation-bar {
        display: inline-flex;
        float: left;
    }

    .navigation-options li {
        padding: 0.7em;
        display: inline;
        border: none;
    }

    .navigation-options {
        background: transparent;
        padding: 1.3em 0.5em 1em 0.5em;
        position: inherit;
        width: intrinsic; /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content; /* Firefox/Gecko */
        width: -webkit-max-content; /* Chrome */
        margin: 0.5em;
    }

}

@media screen and (max-width: 480px) {

    h2 {
        font: inherit;
        vertical-align: baseline;
        font-size: 30px;
        float: right;
    }

    div #content {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
        padding: 0px 2% 0;
        background-color: #222121;
    }

    div .movieCover {
        max-width: 150px !important;
        max-height: 300px !important;
    }

    div .movieCover img {
        max-width: 150px !important;
        max-height: 300px !important;
    }

    .watchButton {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .watchButton:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;

    }

.hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 1em;
    left: 1em;
    background: none;
    border-style: none;
}

.cross {
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0;
    padding: 0;
    background: none;
    border-style: none;
}

.hamburger img {
    width: 30px;
    height: 30px;
}
}
