html{
    font-family: "Helvetica Neue";
}

.tvShow-page {
    background-color: #0E0F11;
}

.desktop-title{
    display: none;
}

.tvShow-general-background img{
    max-width:100%;
}

.tvShow-thumbnail-image img {
    margin-top: -40%;
    padding: 1em 1em 0.6em 0.6em;
    width: 6.5em;
}

.tvShow-bar {
    display: flex;
    background-color: #132340;
    padding-right: 1em;
}

.tvShow-bar-title{
    font-size: 1em;
    margin-top: 1em;
}

.tvShow-bar-genre{
    margin-top: 0.8em;
    font-size: .8em;
    font-style: italic;
}

.tvShow-short-technical-info div{
    display: inline;
    font-size: 1em;
    margin: 0 2.1em;
}

.tvShow-short-technical-info{
    padding: 0.6em 0;
    background-color: #05052B;
}

.tvShow-summary{
    padding: 0.6em 1em;
    line-height: 1.7em;
}

.tvShow-info-box{
    background-color: #05052B;
    text-align:-webkit-center;
}

.tvShow-info-subject{
    display: flex;
    width:100%;
}

.icon {
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    margin-right: 0.5em;
    padding: 4%;
    border: none;
    width: 100%;
    max-width: 32px;
    max-height: 32px;
    display: inline-block;
    background-size: 80% 80%;
    background-position: center;
    background-color: #132340;
    background-repeat: no-repeat;
}

.tvShow-info-name-icon{
    background-image: url('../img/movie-content/svg/movie-info-name-icon.svg');
}

.tvShow-info-pgrating-icon{
    background-image: url('../img/movie-content/svg/movie-info-pgrating-icon.svg');
}

.tvShow-info-director-icon{
    background-image: url('../img/movie-content/svg/movie-info-director-icon.svg');
}

.tvShow-info-productionhouse-icon{
    background-image: url('../img/movie-content/svg/movie-info-productionhouse-icon.svg');
}

.tvShow-info-writers-icon{
    background-image: url('../img/movie-content/svg/movie-info-writers-icon.svg');
}

.tvShow-info-language-icon{
    background-image: url('../img/movie-content/svg/movie-info-language-icon.svg');
}

.tvShow-info-price-icon{
    background-image: url('../img/movie-content/svg/movie-info-price-icon.svg');
}

.tvShow-preview {
    margin-top: 5%;
}

.tvShow-preview span{
    margin-left: 5%;
}

.tvShow-info-box-desktop, .tvShow-summary-desktop, .tvShow-short-technical-info-desktop{
    display: none;
}

@media screen and (min-width: 768px) {

    .tvShow-page {
        font-size: 2em;
    }

    .tvShow-bar-genre{
        font-size: 1em;
    }

    .tvShow-info-subject{
        text-align: left;
    }

    .tvShow-thumbnail-image img {
        width:9.5em;
    }

    .tvShow-short-technical-info div{
        padding: 0 1.5em;
    }

    .tvShow-summary{
        margin: 0.7em 0;
    }

    .tvShow-info-box{
        padding: 0.4em 0;
    }

    .tvShow-info-name-icon{
        margin-top:-.4em;
    }

    .tvShow-info-price-icon{
        margin-bottom:-.4em;
    }

    .tvShow-general-background img{
        width:100%;
    }

}

@media screen and (min-width: 980px) {

    .tvShow-bar-genre, .tvShow-bar-title, .tvShow-general-background, .tvShow-bar-title .tvShow-bar-genre,
    .tvShow-info-box-desktop .icon, .tvShow-info-box, .tvShow-preview, .tvShow-short-technical-info {
        display: none;
    }

    .tvShow-info-subject, .tvShow-info-subject-content{
        display: inline-flex;
        /* text-align: left; */
        font-size: 1.4em;
        width: 45em;
    }

    .desktop-title{
        margin-top: 100px; /*Tobe changed */
        font-size: 1.5em;
        width: 60%;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        display: flex;
    }

    .tvShow-page {
        margin:0;
        padding:0;
        background-color:#0E0F11;
        font-size:1em;
        width:auto;
    }

    .tvShow-bar{
        background-color:#0E0F11;
        display:inline-flex;
        width: 100%;
    }

    .tvShow-short-technical-info{
        background-color:#0E0F11;
    }

    .tvShow-thumbnail-image{
        margin: 13% 2em 0 10%;
    }

    .tvShow-thumbnail-image img{
        width: 300px;
    }

    .tvShow-info-box-desktop{
        /* padding: 2em 2em 0 0; */
    }

    .tvShow-info-box-desktop{
        margin-top: 10%;
        margin-bottom: 10%;
        display: block;
        width: 100%;
        margin-left: %;
        font-size: 13px;
    }

    .tvShow-info-box-desktop{
        display: block;
        text-align: right;
        width: 40%;
        /* color: rgba(43, 105, 226, 0.99); */
    }

    .tvShow-info-box-desktop .tvShow-info-subject-content span{
        display: block;
        width: 40em;
    }


    .tvShow-short-technical-info{
        background-color:blue;
        width: 30%;
        margin-left:4em;
    }

    .tvShow-summary-desktop{
        width: 20em;
        background-color:red;
        display: block;
    }

    .tvShow-summary{
        display: none;
    }
    .tvShow-preview{
        width:40%;
        background-color:red;
    }

    .tvShow-bar-info{
        width: 100%;
    }

    .tvShow-info-price-icon{
        margin-bottom:4em;
    }

    .tvShow-info-preview video{
        width:80%;
        /* background-color:red; */
    }

    .tvShow-info-title-desktop{
        width: 5em;
        text-align: right;
        margin-right: 1em;
        color: rgba(43, 105, 226, 0.99);
    }

    .desktop-preview{
        margin-top: 3em;
    }

    .desktop-preview video {
        width: 400px;
    }

    .desktop-summary{
        margin-top: 3em;
    }

    .tvShow-short-technical-info-desktop{
        display: inline-flex;
    }
    .tvShow-short-technical-info-desktop div{
        font-size: 0.7em;
        margin: 0 2.1em;
    }

}