.user {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-style: solid;
    border: white;

}

.user-info {
}

.personnal-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    margin: 0;
}

.user-email {
    margin: 0;
}

.user-box {
    text-decoration: none;
    display: flex;
}

.user-thumbnail {
    margin-right: 0.5em;
}

.user-info {
    margin-top: auto;
    margin-bottom: auto;
}

content {
    margin-top : 10%;
}

.toggle-following {
    background-color: green;

    text-align: center;
    width: 120px;
    border: 1px solid white;
    border-radius: 4px;
}

.toggle-following:hover {
    cursor: pointer;
}