.page-options {
    display: flex;
}

.watchlist-page-option {
    display: flex;
    justify-content: center;
}

.submit-bar {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

    padding-left: 0.5em;

    transition: background-color ease-in-out .55s;
    background-color: rgb(43, 48, 59);
}

.submit-bar::-webkit-input-placeholder {
    color: #65737e;
}

.submit-bar:-moz-placeholder {
    color: #65737e;
}

.submit-bar::-moz-placeholder {
    color: #65737e;
}

.submit-bar:-ms-input-placeholder {
    color: #65737e;
}

.submit-bar:hover, .submit-bar:focus, .submit-bar:active {
    outline: none;
    background: #ffffff;
}

.submit-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;

    transition: background-color, color ease-in-out .25s;
    background-color: #335A99;
    color: #E6EEFE;
}

.submit-btn:disabled {
    cursor: auto;
    color: #8E9EBC;
    background-color: #264372;
}

.watchlist-box {
    height: 100%;
    width: 100%;
    display: flex;
}

.selection-box {
    margin-top: auto;
    margin-bottom: auto;
}

.delete-watchlist-checkbox {
}

.watchlist-aside {
    width: 100%;
}

.watchlist-title-box {
    display: flex;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.watchlist-edit-button {
    margin-left: 1em;
    height: 20px;
}

/* Taken from: http://codepen.io/MarvinVk/pen/GEjio */

.button-cancel {
  margin-left: 0.5em;
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
  position: relative;
  box-sizing: border-box;
  line-height: 20px;
  display: inline-block;
}

.button-cancel:before,
.button-cancel:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.button-cancel:after {
  transform: rotate(45deg);
}

.button-cancel:hover:before,
.button-cancel:hover:after {
  transform: rotate(0deg);
}

/* --------------------------------- */

.watchlist-title {
    margin-top: 0;
}

.watchlist-movies {
    width: 100%;
}

.watchlist-movie {
    display: flex;
    border: 1px solid #1B1D22;
}

.watchlist-movie-select-box {
    margin-top: auto;
    margin-bottom: auto;
}

.delete-watchlist-movie-checkbox {
}

.remove-watchlist-movie {
}

.delete-watchlist {
}

.delete-btn {
    color: white;
    background-color: #CA3C3C;


    margin: 1em;
    padding: 0.4em;

    transition: background-color ease-in-out .25s;
}

.delete-btn:hover {
    background-color: #971A1A;
}

.btn {
    border: none;
    border-radius: 4px;
}

#error-message-watchlist{
    color: red;
}

@media (min-width: 960px) {
    .watchlist-section-header {
        margin-top: 4em;
    }
    
    .watchlist-movies {
        margin-left: 1em;
        padding-left: 1em;

        border: 1px solid #1B1D22;

        width: 100%;
        max-width: 600px;
        display: flex;
    }

    .watchlist-movie {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .watchlist-edit-button {
        display: none;
    }
    
    .watchlist-movie-select-box {
        display: flex;
    }

    .delete-watchlist-movie-checkbox {
        margin-right: auto;
        margin-left: auto;
    }
}