

<div class="actor">


    <div>
        <h1 id="header">{{artistName}}</h1>
        <p class="genre">Genre principal : {{primaryGenreName}}</p>

    </div>

    <div class="information">
        <div class="actor-itunes">

            <img class="imgActor" src="{{imgActor}}">

            <a href="{{artistLinkUrl}}">
                <div class="itunes">
                    <img class="ilogo" src="url(../../img/itunesLogo.png">
                    <p id="centre">Apple Store </p>
                </div>
            </a>
        </div>

        <div>
            <h2> Description :</h2>
            <div class="description">{{biography}} </div>
        </div>


    </div>

<!--
    <div>
        <p class="genre">Movies</p>
    </div>
    <div class="movie">
        <ul class="movie-menu">
            <li>
                <span> Inglourious Basterds</span>
            </li>
            <li>
                <img class="movie-image" src="url(../../img/basterds.jpg">
            </li>
            <li>
                <span> 21 août 2009</span>
            </li>
            <li>
                <iframe class="youtube"  src="https://www.youtube.com/embed/6AtLlVNsuAc" frameborder="0" allowfullscreen></iframe>
            </li>
        </ul>
    </div>

    <div class="movie">
        <ul class="movie-menu">
            <li>
                <span> Inglourious Basterds</span>
            </li>
            <li>
                <img class="movie-image" src="url(../../img/basterds.jpg">
            </li>
            <li>
                <span> 21 août 2009</span>
            </li>
            <li>
                <iframe class="youtube"  src="https://www.youtube.com/embed/6AtLlVNsuAc" frameborder="0" allowfullscreen></iframe>
            </li>
        </ul>
    </div>

-->
</div>

