
    <div class="actorThumbnail">
        <!--<img class="thumbnailImg" src="url({{imgActor}})"> -->
       <img class="thumbnailImg" src="url(../../img/actor/noProfile.jpg">
        <div class="descriptionThumbnail">
            <a class="actor-box" href="#actor/{{artistId}}">
            <h2 class="thumbnailNomArtist">{{artistName}}</h2>
            </a>
            <div >Artist genre : {{primaryGenreName}}</div>
            <div class="shortBio">{{biography}}</div>

        </div>

    </div>
