

<head>
    <link rel="stylesheet" href="../../css/actorCss.css" type="text/css">
</head>

<div class="actor-browser">
    <div class="info">
        <div></div><h1 id="header">{{name}}</h1></div>
        <p>{{genre}}</p>
        <img src="{{image}}">
        <div>
           <a href="#{{itunesLink}}"> <img src="url({{imageActor}})"></a>
            <p>Lien Itunes</p>
        </div>
    </div>
    <div class="movie-list">
        <p>Movies</p>
        <div class="carousel">

        </div>
    </div>
</div>