<div class="authentification">
    <div class="inputFields">
        {{#each inputField}}
        <div class="{{inputName}}-box">
            <label>{{inputName}}</label>
            <input class="authentification-input" name="{{inputName}}" type="{{inputType}}">

        </div>
        {{/each}}
    </div>
    <div class="newEntry">
        {{#if signup}}
        <a class="registerHere">Sign-up Here!</a>
        {{/if}}
        <a class="submitAuthentification">This should be a login button, with a bit of css</a>
    </div>
</div>