<div class="Episode-modal">
    <div class="close-button">
        <button type="button" class="button-cancel">
        </button>
    </div>
    <div class="episode-modal-title">
        Episode {{trackNumber}} : {{trackName}}
    </div>
    <div class="episode-modal-season">
        {{collectionName}} - Episode {{trackNumber}}
    </div>
    <div class="episode-modal-content">
        <div class="episode-modal-content-left">
            <div class="episode-modal-cover">
                <img src="{{artworkUrl100}}"/>
            </div>
            <div class="episode-modal-info">
                <div><span>Duration: </span>{{convertDuration}}</div>
                <div><span>Summary: </span>{{longDescription}}</div>
                <div><span>Price: </span>{{trackPrice}}</div>
                <span>
                    <a class="itunes-link" href="{{trackViewUrl}}">
                        <img class="itunes-logo" src="url(../../img/itunesLogo2.png">
                    </a>
                </span>
            </div>
        </div>
        <div class="episode-modal-content-right">
            <div class="episode-modal-preview">

            </div>
        </div>
    </div>

</div>
