<div class="Episode-modal">
    <div class="close-button"></div>
    <div class="episode-modal-title">
        Episode {{trackNumber}} : {{trackName}}
    </div>
    <div class="episode-modal-season">
        {{collectionName}} - Episode {{trackNumber}}
    </div>
    <div class="episode-modal-content">
        <div class="episode-modal-content-left">
            <div class="episode-modal-cover">
                <img src="{{artworkUrl100}}"/>
            </div>
            <div class="episode-modal-info">
                <div>Duration: {{convertDuration}}</div>
                <div>Summary: {{longDescription}}</div>
                <div>Price: {{trackPrice}}</div>
            </div>
        </div>
        <div class="episode-modal-content-right">
            <div class="episode-modal-preview">

            </div>
        </div>
    </div>

</div>
