<head>
    <title>{{name}}</title>
</head>

<div class="movie-page">
    <div class="desktop-title">{{trackName}}</div>
    <div class="movie-general-background">
        <img src="url(../../img/movie-tvShow-content/background-movie.png">
    </div>

    <div class="movie-bar">
        <div class="movie-thumbnail-image">
            <img src="{{artworkUrl100}}"/>
            <div class="movie-short-technical-info-desktop">
                <div class="movie-length">Fix me{{convertDuration}}</div>
                <div class="movie-year">Fix me{{releaseYear}}</div>
                <div class="movie-country">{{country}}</div>
            </div>
        </div>
        <div class="movie-bar-info">
            <div class="movie-bar-title">{{trackName}}</div>
            <div class="movie-bar-genre">{{primaryGenreName}}</div>
            <div class="movie-info-box-desktop">
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Genre:</span>
                    <span>{{primaryGenreName}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Movie:</span>
                    <span>{{trackName}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">PG-Rating:</span>
                    <span>{{contentAdvisoryRating}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Director:</span>
                    <span>{{artistName}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Studio:</span>
                    <span>{{productionHouse}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Writers:</span>
                    <span>{{productionHouse}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Language:</span>
                    <span>{{language}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Price:</span>
                    <span>{{trackPrice}}</span>
                </div>
                <div class="movie-info-subject desktop-summary">
                    <span class="movie-info-title-desktop">Summary:</span>
                    <span>{{longDescription}}</span>
                </div>
                <div class="movie-info-subject desktop-preview">
                    <span class="movie-info-title-desktop">Trailer:</span>
                    <span class="movie-info-preview">
                        <video width=100% controls>
                            <source src={{previewUrl}} type="video/m4v">
                            Your browser does not support HTML5 video.
                        </video>
                    </span>
                </div>

            </div>

        </div>

    </div>


    <div class="movie-short-technical-info">
        <div class="movie-length">Fix me{{convertDuration}}</div>
        <div class="movie-year">Fix me{{releaseYear}}</div>
        <div class="movie-country">{{country}}</div>
    </div>

    <div class="movie-summary">{{longDescription}}</div>

    <div class="movie-info-box">
        <div class="movie-info-subject">
            <span class="movie-info-name-icon icon"></span>
            {{trackName}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-pgrating-icon icon"></span>
            Rated {{contentAdvisoryRating}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-director-icon icon"></span>
            {{artistName}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-productionhouse-icon icon"></span>
            {{productionHouse}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-writers-icon icon"></span>
            {{writers}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-language-icon icon"></span>
            {{language}}
        </div>
        <div class="movie-info-subject">
            <span class="movie-info-price-icon icon"></span>
            {{trackPrice}} {{currency}}
        </div>
    </div>

    <div class="movie-preview">
        <span>Trailer</span>
        <video width=100% controls>
            <source src={{previewUrl}} type="video/m4v">
            Your browser does not support HTML5 video.
        </video>
    </div>

</div>
