<!-- Html for both a movie and a tvShow season page -->

<head>
    {{#if isMovieType}}
    <title>{{name}}</title>
    {{else}}
    <title>{{collectionName}}</title>
    {{/if}}
</head>

<class ="page-box">
    <div class="error-handling" id="error-message-movie"></div>

    <!-- Title and background image -->
    {{#if isMovieType}}
    <div class="title-box">
        <div class="element-title">{{trackName}}</div>
        <a class="itunes-link desktop" href="{{trackViewUrl}}">
            <img class="itunes-logo" src="url(../../img/itunesLogo2.png">
        </a>
    </div>

    <div class="element-background-image">
        <img src="url(../../img/movie-tvShow-content/background-movie.png">
    </div>
    {{else}}
    <div class="title-box">
        <div class="element-title">{{collectionName}}</div>
        <a class="itunes-link desktop" href="{{trackViewUrl}}">
            <img class="itunes-logo" src="url(../../img/itunesLogo2.png">
        </a>
    </div>

    <div class="element-background-image">
        <img src="url(../../img/movie-tvShow-content/background-tvShow.png">
    </div>
    {{/if}}

    <!-- Main information -->
    <div class="container-up-section">

        <!-- Cover image and main information(duration, release year, country) -->
        <div class="cover-box">
            <div class="cover-thumbnail">
                <img src="{{artworkUrl100}}"/>
                <div>
                    {{#if isMovieType}}
                    <span>{{trackName}}</span>
                    {{else}}
                    <span>{{collectionName}}</span>
                    {{/if}}

                    <span>{{primaryGenreName}}</span>
                    <a class="itunes-link mobile" href="{{trackViewUrl}}">
                        <img class="itunes-logo" src="url(../../img/itunesLogo2.png">
                    </a>
                </div>
            </div>

            <div class="main-info">
                {{#if isMovieType}}
                <div class="movie-length">{{convertDuration}}</div>
                {{else}}
                <div class="movie-length">{{trackCount}} episodes</div>
                {{/if}}

                <div class="movie-year">{{releaseYear}}</div>
                <div class="movie-country">{{country}}</div>
            </div>
        </div>

        <!-- Preview video box -->
        <div class="preview-box">
            <div class="preview-element-video"></div>
        </div>
    </div>

    <!-- Summary and detailed information -->
    <div class="container-down-section">

        <div class="summary">
            <span>Summary:</span>
            {{longDescription}}
        </div>

        <div class="detailed-info">
            <div class="detailed-info-subject">
                <span class="element-name element-icon"></span>
                {{#if isMovieType}}
                <span>Title: </span>
                {{trackName}}
                {{else}}
                <span>Serie: </span>
                {{artistName}}
                {{/if}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-rating element-icon"></span>
                <span>Rating: </span>
                Rated {{contentAdvisoryRating}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-director element-icon"></span>
                {{#if isMovieType}}
                <span>Director: </span>
                {{artistName}}
                {{else}}
                <span>Season: </span>
                {{collectionName}}
                {{/if}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-studio element-icon"></span>
                <span>Studio: </span>
                {{productionHouse}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-writers element-icon"></span>
                <span>Writer: </span>
                {{writers}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-language element-icon"></span>
                <span>Language: </span>
                {{language}}
            </div>
            <div class="detailed-info-subject">
                <span class="element-price element-icon"></span>
                <span>Price: </span>
                {{#if isMovieType}}
                {{trackPrice}} {{currency}}
                {{else}}
                {{collectionPrice}} {{currency}}
                {{/if}}
            </div>
        </div>
    </div>

    <!-- Watchlist box -->
    {{#if isMovieType}}
    <div class="watchlist-button ">
        <button class="watchlist-button-desktop">Add to watchlist</button>
        <div class="watchlist-menu-group ">
            <ul class="watchlist-menu ">
                <li class="watchlist-select-group " data-id="create-watchlist"> New watchlist... </li>
                {{#each watchlists as |watchlist|}}
                <li class="watchlist-select-group " data-id="{{id}}">{{watchlist.attributes.name}}</li>
                {{/each}}
            </ul>
            <div class="new-watchlist" style="display: none;">
                <input type="text" class="new-watchlist-input" placeholder="Enter new watchlist name"/>
                <button type="button" class="submit-new-watchlist" disabled="disabled">Submit</button>
            </div>
        </div>
    </div>
    {{/if}}

    <!-- Episodes box -->
    {{#unless isMovieType}}
    <div class="episodes-box">
        <span>Episodes: </span>
    </div>
    {{/unless}}

</div>
