<head>
    <title>{{name}}</title>
</head>

<div class="page-box movie-page">

    <!-- Title and background image -->
    <div class="content-title desktop-title">{{trackName}}</div>
    <div class="content-background-image movie-general-background">
        <img src="url(../../img/movie-tvShow-content/background-movie.png">
    </div>

    <!-- Main information -->
    <div class="container-up-section movie-thumbnail-image">

        <!-- Cover image and main information(duration, release year, country) -->
        <div class="cover-box">
            <div class="cover-thumbnail">
                <img src="{{artworkUrl100}}"/>
                <div>
                    <span>{{trackName}}</span>
                    <span>{{primaryGenreName}}</span>
                </div>
            </div>

            <div class="main-info movie-short-technical-info-desktop movie-short-general-info-desktop-group">
                <div class="movie-length">{{convertDuration}}</div>
                <div class="movie-year">{{releaseYear}}</div>
                <div class="movie-country">{{country}}</div>
            </div>
        </div>

        <!-- Preview video box -->
        <div class="preview-box movie-preview">
            <span>Trailer:</span>
            <div class="preview-content-video movie-video-preview"></div>
        </div>
    </div>

    <!-- Summary and detailed information - Need refactor with Handlebars-->
    <div class="container-down-section">
        <div class="summary">
            <span>Summary:</span>
            {{longDescription}}
        </div>

        <div class="detailed-info movie-info-box-desktop">
            <div class="detailed-info-subject">
                <span class="movie-info-name-icon icon"></span>
                <span>Title: </span>
                {{trackName}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-pgrating-icon icon"></span>
                <span>Rating: </span>
                Rated {{contentAdvisoryRating}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-director-icon icon"></span>
                <span>Director: </span>
                {{artistName}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-productionhouse-icon icon"></span>
                <span>Studio: </span>
                {{productionHouse}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-writers-icon icon"></span>
                <span>Writer: </span>
                {{writers}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-language-icon icon"></span>
                <span>Language: </span>
                {{language}}
            </div>
            <div class="detailed-info-subject">
                <span class="movie-info-price-icon icon"></span>
                <span>Price: </span>
                {{trackPrice}} {{currency}}
            </div>
        </div>
    </div>

    <!-- Watchlist box -->
    <div class="watchlist-button movie-watchlist-view">
        <button class="watchlist-button-desktop mobile-watchlist">Add to watchlist</button>
        <div class="watchlist-menu-group mobile-watchlist">
            <ul class="watchlist-menu mobile-watchlist">
                <li class="watchlist-select-group mobile-watchlist" data-id="create-watchlist"> New watchlist... </li>
                {{#each watchlists}}
                <li class="watchlist-select-group mobile-watchlist" data-id="{{id}}">{{name}}</li>
                {{/each}}
            </ul>
            <div class="new-watchlist" style="display: none;">
                <input type="text" class="new-watchlist-input" placeholder="Enter new watchlist name"/>
                <button type="button" class="submit-new-watchlist" disabled="disabled">Submit</button>
            </div>
        </div>
    </div>

</div>
