<div class="navigation-bar">
    <div class="umovie-logo">
        <span id="expend-menu-icon">
            <button class="hamburger"><img src="img/hamburger_menu.svg"/></button>
        </span>

        <span id="expend-member-menu-icon">
        </span>
        <a href="#{{references}}"><img id="site-logo" src="url({{siteImageUrl}}"></a>
    </div>
    <div class="menu">
        <ul class="navigation-options" id="menu-initial-closed">
            {{#each menuOption}}
            <li><a href="#{{references}}" class="{{position}}">{{name}}</a></li>
            {{/each}}

        </ul>
    </div>

    <div class="search-bar">

        <div class="search-container" id="member-menu-closed">
            <div class="input-bar">

                <input placeholder="Search..." class="search-input">
                <span class="go-research">
                    <div id="search-icon" style="background-image: url(img/food.svg);"></div>
                </span>
                <button class="member-hamburger">
                    <div class="username toggle-member-menu">{{user}}</div>
                    <img class="user-icon toggle-member-menu" src="img/food.svg"/>
                </button>
            </div>
            <div class="research-options collapsed">advanced research</div>
        </div>

        <div class="member-menu">
            {{#if connected}}
            {{#each menuOptionConnected}}
            <li><a href="#{{references}}" class="{{position}}">{{name}}</a></li>
            {{/each}}
            {{else}}
            {{#each menuOptionDisconnected}}
            <li><a href="#{{references}}" class="{{position}}">{{name}}</a></li>
            {{/each}}
            {{/if}}
        </div>

    </div>
</div>
