<div class="navigation-bar">
    <div class="umovie-logo">
        <span id="expend-menu-icon"></span>
        <a href="#/{{references}}"><img id="site-logo" src="url({{siteImageUrl}}"></a>
        <div>Welcome, {{user}}!</div>
    </div>
    <div class="menu">
        <ul class="navigation-options">
            {{#each menuOption}}
            <li><a href="#/{{references}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="search-bar">
        Search bar comes here!
    </div>
</div>

