{{#if isActorType}}
<div class="actorThumbnail">
    <img class="thumbnailImg" src="url(../../img/actor/noProfile.jpg">
    <div class="descriptionThumbnail">
        <a class="actor-box" href="#actor/{{artistId}}">
            <h2 class="thumbnailNomArtist">{{artistName}}</h2>
        </a>
        <div >Artist genre : {{primaryGenreName}}</div>
        <div class="shortBio">{{biography}}</div>
    </div>
</div>

{{else if isEpisodeType}}
<a class="episode-thumbnail-box" href="#episode/{{trackId}}">
    <div class="episode-thumbnail">
        <div class="episode-initial-image">
            <img class="episode-thumbnail" src="{{artworkUrl60}}"/>
        </div>
        <div class="episode-thumbnail-top-box">
            <div class="episode-thumbnail-header">
                <h3 class="episode-title"> {{trackName}} </h3>
                <div class="initial-release-date">{{releaseYear}}</div>
            </div>
            <div class="episode-description">
                <p class="episode-description-text">{{longDescription}}</p>
            </div>
            <div class="episode-thumbnail-footer">
                <div class="content-advisory-rating">{{contentAdvisoryRating}}</div>
                <div class="duration">{{convertDuration}}</div>
            </div>
        </div>
    </div>
</a>

{{else}}
    <a class="movies-box" {{#if isMovieType}}href="#movie/{{trackId}}"
                          {{else}}href="#tvShow/{{collectionId}}">
                          {{/if}}
        <div class="thumbnail">
            <div class="initial-image">
                <img class="movies-thumbnail" src="{{artworkUrl100}}"/>
            </div>
            <div class="movies-top-box">
                <div class="movies-header">
                    <h3 class="movies-title"> {{#if isMovieType}} {{trackName}}
                                              {{else}} {{collectionName}}
                                              {{/if}} </h3>
                    <div class="initial-release-date">{{releaseYear}}</div>
                </div>
                <div class="movies-description">
                    <p class="movies-description-text">{{longDescription}}</p>
                </div>
                <div class="movies-footer">
                    <div class="content-advisory-rating">{{contentAdvisoryRating}}</div>
                    <div class="duration">{{convertDuration}}</div>
                </div>
            </div>
        </div>
    </a>
{{/if}}
