<!-- Is not use right now -->

<head>
    <title>{{collectionName}}</title>
</head>

<div class="tvShow-page">
    <div class="desktop-title">{{collectionName}}</div>
    <div class="tvShow-general-background">
        <img src="url(../../img/movie-tvShow-content/background-tvShow.png">
    </div>

    <div class="tvShow-bar">
        <div class="tvShow-thumbnail-image">
            <img src="{{artworkUrl100}}"/>
            <div class="tvShow-short-technical-info-desktop">
                <div>
                    <div class="tvShow-length">{{trackCount}} episodes</div>
                    <div class="tvShow-year">{{releaseYear}}</div>
                    <div class="tvShow-country">{{country}}</div>
                </div>
            </div>
        </div>
        <div class="tvShow-bar-info">
            <div class="tvShow-bar-title">{{collectionName}}</div>
            <div class="tvShow-bar-genre">{{primaryGenreName}}</div>
            <div class="tvShow-info-box-desktop">
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">Genre:</span>
                    <span>{{primaryGenreName}}</span>
                </div>
                <div class="movie-info-subject">
                    <span class="movie-info-title-desktop">Serie:</span>
                    <span>{{artistName}}</span>
                </div>
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">PG-Rating:</span>
                    <span>{{contentAdvisoryRating}}</span>
                </div>
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">Studio:</span>
                    <span>{{productionHouse}}</span>
                </div>
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">Writers:</span>
                    <span>{{productionHouse}}</span>
                </div>
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">Language:</span>
                    <span>{{language}}</span>
                </div>
                <div class="tvShow-info-subject">
                    <span class="tvShow-info-title-desktop">Price:</span>
                    <span>{{collectionPrice}}</span>
                </div>
                <div class="tvShow-info-subject desktop-summary">
                    <span class="tvShow-info-title-desktop">Summary:</span>
                    <span>{{longDescription}}</span>
                </div>
                <div class="tvShow-info-subject ">
                    <span class="tvShow-info-title-desktop">Trailer:</span>
                    <span class="tvShow-season-video-preview tvShow-info-preview">
                    </span>
                </div>

            </div>

        </div>

    </div>


    <div class="tvShow-short-technical-info">
        <div class="tvShow-length">{{trackCount}} episodes</div>
        <div class="tvShow-year">{{releaseYear}}</div>
        <div class="tvShow-country">{{country}}</div>
    </div>

    <div class="tvShow-summary">{{longDescription}}</div>

    <div class="tvShow-info-box">
        <div class="tvShow-info-subject">
            <span class="tvShow-info-name-icon icon"></span>
            {{collectionName}}
        </div>
        <div class="tvShow-info-subject">
            <span class="tvShow-info-pgrating-icon icon"></span>
            Rated {{contentAdvisoryRating}}
        </div>
        <div class="tvShow-info-subject">
            <span class="tvShow-info-productionhouse-icon icon"></span>
            {{productionHouse}}
        </div>
        <div class="tvShow-info-subject">
            <span class="tvShow-info-writers-icon icon"></span>
            {{writers}}
        </div>
        <div class="tvShow-info-subject">
            <span class="tvShow-info-language-icon icon"></span>
            {{language}}
        </div>
        <div class="tvShow-info-subject">
            <span class="tvShow-info-price-icon icon"></span>
            {{collectionPrice}} {{currency}}
        </div>
    </div>

    <div class="tvShow-preview">
        <span>Trailer</span>
        <div class="tvShow-season-video-preview"></div>
    </div>

</div>

<div class="tvShow-episodes-box">
    <span>Episodes</span>
</div>

