<head>
    <title>{{collectionName}}</title>
</head>

<div class="tvShow">
    <div class="tvShow-name">{{collectionName}}</div>
    <div class="tvShow-image"><img src="{{artworkUrl100}}"/></div>
    <div class="tvShow-genre">Genre : {{primaryGenreName}}</div>
    <div class="tvShow-date">Release date : {{releaseDate}}</div>
    <div class="tvShow-rating">Rating : {{contentAdvisoryRating}}</div>
    <div class="tvShow-price">Season price : {{collectionPrice}}</div>
    <div class="tvShow-description"> {{longDescription}}</div>
</div>

<div class="tvShow-preview">
	<div class="tvShow-preview">Preview <span>{{previewUrl}}</span></div>

</div>