<head>
    <title>{{artistName}}</title>
</head>

<div class="tvShowSeason-page">
    <div class="desktop-title">{{collectionName}}</div>
    <div class="tvShowSeason-general-background">
        <img src="url(../../img/movie-tvShow-content/background-tvShow.png">
    </div>

    <div class="tvShowSeason-bar">
        <div class="tvShowSeason-thumbnail-image">
            <img src="{{artworkUrl100}}"/>
            <div class="tvShowSeason-short-technical-info-desktop">
                <div class="tvShowSeason-year">Fix me{{releaseYear}}</div>
                <div class="tvShowSeason-country">{{country}}</div>
            </div>
        </div>
        <div class="tvShowSeason-bar-info">
            <div class="tvShowSeason-bar-title">{{collectionName}}</div>
            <div class="tvShowSeason-bar-genre">{{primaryGenreName}}</div>
            <div class="tvShowSeason-info-box-desktop">
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Genre:</span>
                    <span>{{primaryGenreName}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Serie:</span>
                    <span>{{artistName}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Season:</span>
                    <span>{{collectionName}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">PG-Rating:</span>
                    <span>{{contentAdvisoryRating}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Studio:</span>
                    <span>{{productionHouse}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Writers:</span>
                    <span>{{writers}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Language:</span>
                    <span>{{language}}</span>
                </div>
                <div class="tvShowSeason-info-subject">
                    <span class="tvShowSeason-info-title-desktop">Price:</span>
                    <span>{{collectionPrice}}</span>
                </div>
                <div class="tvShowSeason-info-subject desktop-summary">
                    <span class="tvShowSeason-info-title-desktop">Summary:</span>
                    <span>{{longDescription}}</span>
                </div>

            </div>

        </div>

    </div>


    <div class="tvShowSeason-short-technical-info">
        <div class="tvShowSeason-year">{{releaseYear}}</div>
        <div class="tvShowSeason-country">{{country}}</div>
    </div>

    <div class="tvShowSeason-summary">{{longDescription}}</div>

    <div class="tvShowSeason-info-box">
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-name-icon icon"></span>
            {{trackName}}
        </div>
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-pgrating-icon icon"></span>
            Rated {{contentAdvisoryRating}}
        </div>
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-productionhouse-icon icon"></span>
            {{productionHouse}}
        </div>
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-writers-icon icon"></span>
            {{writers}}
        </div>
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-language-icon icon"></span>
            {{language}}
        </div>
        <div class="tvShowSeason-info-subject">
            <span class="tvShowSeason-info-price-icon icon"></span>
            {{collectionPrice}} {{currency}}
        </div>
    </div>

</div>
