<a class="movies-box" href="#tvShow/{{collectionId}}">
    <div class="thumbnail">
        <div class="initial-image">
            <img class="movies-thumbnail" src="{{artworkUrl100}}"/>
        </div>
        <div class="movies-top-box">
            <div class="movies-header">
                <h3 class="movies-title"> {{trackName}} </h3>
                <div class="initial-release-date">{{releaseYear}}</div>
            </div>
            <div class="movies-description">
                <p class="movies-description-text">{{longDescription}}</p>
            </div>
            <div class="movies-footer">
                <div class="content-advisory-rating">{{contentAdvisoryRating}}</div>
                <div class="duration">{{convertDuration}}</div>
            </div>
        </div>
    </div>
</a>