<div class="user">
    <div class="personnal-info">
        <div class="user-thumbnail">
            <img class="gravatar-photo" data-email="{{email}}" src=""/>
        </div>
        <div class="error-handling" id="error-message-user"></div>

        <div class="individual-user-box">
            {{#if isNotCurrentUser}}
                <button class="toggle-following btn">
                    {{#if isFollowing}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if }}
                </button>
            {{/if }}
            <div class="user-info">
                <p class="user-name">{{name}}</p>
                <p class="user-email">{{email}}</p>
            </div>
        </div>
    </div>

    <div id="followed-list">
        <h1>Following</h1>
    </div>

    <div id="user-watchlists">
        <h1>Watchlists</h1>
    </div>
</div>