<div class="user">
    <div class="personnalInfo">
        <img id="gravatar-photo-{{id}}" src=""></img>

        <div class="follow-unfollow-member">
            {{#if isNotCurrentUser}}
                {{#if isFollowing}}
                    Unfollow
                {{else}}
                    Follow
                {{/if }}
            {{/if }}
        </div>

        <div>
             <span class="userInfo"> {{name}}</span>
        </div>
        <div>
            <label>Email:  </label> <span class="userInfo"> {{email}}</span>
        </div>

    </div>
    <div id="follower-list"></div>

</div>