<div class="watchlist-menu-group ">
    <ul class="watchlist-menu ">
        <li class="watchlist-select-group " data-id="create-watchlist"> New watchlist...</li>
        {{#each watchlists as |watchlist|}}
        <li class="watchlist-select-group " data-id="{{id}}">{{watchlist.attributes.name}}</li>
        {{/each}}
    </ul>
    <div class="new-watchlist" style="display: none;">
        <input type="text" class="new-watchlist-input" placeholder="Enter new watchlist name"/>
        <button type="button" class="submit-new-watchlist" disabled="disabled">Submit</button>
    </div>
</div>
