<div class="watchlist-box">
    <div class="selection-box">
        <input class="delete-watchlist-checkbox" type="checkbox" value="{{id}}"/>
    </div>

    <div class="watchlist-aside">
        <div class="watchlist-title-box" data-id="{{id}}">
            <h4 class="watchlist-title">{{name}}</h4>
            <button class="watchlist-edit-button btn submit-btn" type="button">Edit</button>
        </div>

        <div id="{{name}}-watchlist-movies">
        </div>

        <button class="remove-watchlist-movie delete-btn btn" data-id="{{id}}">Remove Movies</button>
    </div>
</div>